body{
        background-image: url(https://i.insider.com/5fbda03b32f2170011f71149?width=1000&format=jpeg&auto=webp);
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color:#FFFFFF;
}
.main{
    font-family: sans-serif;
}
.header{
        height: 25px;
        background-color:black;
        padding-top: 15px;
        padding-left: 15px;
}
.title{
      text-align: center;  
     }

.video{
        display:flex;
        flex-direction: column;
        align-items: center;
}
.footer{
        height: 25px;
        background-color:black;
        color: white;
        text-align: center;
        position: fixed;
        bottom: 0px;
        right: 5px;
        left: 5px;
        padding-top: 15px;

}
